<!--Footer-->
<footer class="page-footer indigo center-on-small-only mt-3">
  <!--Copyright-->
  <div class="footer-copyright">
    <div class="container-fluid">
      © 2018 Copyright:
      <a href="aashishgnubca@gmail.com"> Humbingo </a>

      <span style="float: right;">
        <i class="fa fa-globe"></i>
        Website:
        <a href="aashishgnubca@gmail.com" target="blank">Humbingo</a>
      </span>
    </div>
  </div>
  <!--/.Copyright-->
</footer>
<!--/.Footer-->